// Mixins Here
.align-flex(@dir:row;@justify:center;@align:center){
    flex-direction:@dir;
    justify-content: @justify;
    align-items: @align;
    display: flex;
}

.margin(@top:@n;@right:@n;@bottom:@n;@left:@n;){
    top:@top;
    right:@right;
    bottom:@bottom;
    left:@right;
}
.parametric-btn(@color:@porcelain;@bground:@btn-bg-color;@width:10rem;){
    background-color:@bground;
    text-align: center;
    width: @width;
    padding: 1rem 2rem;
    border-radius: 7px;
    color:@color;
    font-size: 1.6rem ;
    display:flex;
    align-content: center;
    justify-content:center;
    
}
