// Mixins Here 
.btn-parametric(@buttonfontcolor:@footer-background;@width:@width;@button-bg:@btn-bg-color;) {
    color:@buttonfontcolor;
    width:@width;
    background-color: @button-bg;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    
    
 }

.flex-align(@justify: center; @align: center; @dir: row) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
    flex-direction: @dir;
}

// box model VAR
// @nomargin:  0rem;
// @smargin:   1rem;
// @medmargin: 2rem;
// @lmargin:   3rem;
// @xlmargin:  4rem;
.margin(@Tmargin:@nomargin;@Rmargin:@nomargin;@Bmargin:@nomargin;@Lmargin:@nomargin;){
    margin-top: @Tmargin;
    margin-right: @Rmargin;
    margin-bottom: @Bmargin;
    margin-left: @Lmargin;
}


